.navbar-main {
  background-color: rgb(212, 207, 207);
  padding: 0.6em;
  max-height: 10vh;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.brand {
  /* color: #408a56; */
  font-size: 2.5em;
  text-align: center;
  /* margin-left: 24%; */
  font-family: 'IBM Plex Serif', serif;
}

.brand:hover {
  color: rgb(165, 45, 45);
}

.logo {
  color: rgb(165, 45, 45);
  font-weight: bolder;
}

.login {
  color: white;
  font-weight: bold;
  font-size: 1.4em;
  background-color: #a52d2d;
  border: 1px solid #a52d2d;
  padding: 0.3em 0.8em;
}

.login:hover {
  color: white;
  background-color: none;
  text-decoration: none;
}

.nav-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /* box-shadow: 0px 0.4px 0px #cacaca; */
  /* box-shadow: 5px 13px 11px -17px #cacaca; */
}

.dropdown-main {
  max-width: 11em;
  /* margin-right: 12%; */
}

.dropdown-menu {
  left: -60px;
}

.dropdown-toggle {
  color: rgb(165, 45, 45);
  font-size: 1.4em;
  font-weight: bold;
}

.dropdown-toggle:hover {
  color: rgb(165, 45, 45);
}
